In [1]:
import json
import pandas as pd
from pandas import json_normalize

In [2]:
with open('sample.json') as source:
    parsed=json.load(source)

In [3]:
print(json.dumps(parsed, indent=4))

[
    {
        "a": 1,
        "b": 2
    },
    {
        "a": 1,
        "b": 3,
        "c": 2
    }
]

In [4]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '.')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '.')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [5]:
len(parsed)

2

In [6]:
json_normalize(flatten_json(parsed))

   0.a  0.b  1.a  1.b  1.c
0    1    2    1    3    2

In [7]:
l=[]
for i in range(len(parsed)):
    flat = flatten_json(parsed[i])
    l.append(json_normalize(flat))

In [9]:
df=pd.DataFrame()

In [10]:
for i in range (len(l)):
    df=pd.concat((df,l[i]),ignore_index=True)

In [13]:
df

   a  b    c
0  1  2  NaN
1  1  3  2.0

In [14]:
df.to_csv("a.csv",index=False)